<h1>Ahoj!</h1>

<p>Chcete-li obnovit své heslo, navštivte následující odkaz.</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Platnost tohoto odkazu vyprší za {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>Děkujeme vám!</p>
