{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block header %}
{% endblock %}
{% block leftBody %}
{% endblock %}
{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1>Změňte si heslo</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Zadejte Váš email a my vám zašleme link pro změnu Vašeho hesla.
            </small>
        </div>

        <button class="btn btn-primary">Zaslat email</button>
    {{ form_end(requestForm) }}
{% endblock %}

{% block footer %}
{% endblock %}
