:root {
    --pictureShadowNotActive: #3b3b3b;
    --pictureShadowActive: #000;
    --imageRadius: 10px;
    --buttonColor: #007bff;
    --buttonHoverColor: #0056b3;
}

#mainRight-offer {
    width: 90%;
    margin: 0 auto;
}

#cont-div {
    box-shadow: 10px 10px 17px #e6e6e6, 10px 10px 17px #e6e6e6 inset;
    width: 100%;
    padding: 23px;
    border-radius: 20px;
}

.insi-div-con {
    color: rgb(0, 0, 0);
    font-size: 21px;
    border-bottom: 1px solid #313131;
    padding: 15px 10px;
}

.insi-div-con p {
    padding: 3px 0;
}

.insi-div-con a {
    color: rgb(0, 0, 0);
}

.insi-div-con a:hover {
    color: #7e7e7e;
}

iframe {
    border-radius: 20px;
    box-shadow: 4px 4px 10px var(--pictureShadowNotActive);
    transition: all .2s ease-in-out;
}

#build {
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 4px 4px 10px var(--pictureShadowNotActive);
    transition: all .2s ease-in-out;
}

#infoDiv a {
    width: fit-content;
}

#infoDiv{
    padding: 0;
    margin: 50px 0 0 0;
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    gap: 20px;
}

#mainRight-offer img:hover,
iframe:hover {
    box-shadow: 5px 5px 12px var(--pictureShadowActive);
}

/* ------------------------------- FORMULÁŘ ------------------------------- */
.form-container {
    margin-top: 30px;
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.form-group {
    margin-bottom: 15px;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

/* Zvětšení výšky pole pro zprávu */
.form-container textarea {
    height: 200px; /* Můžeš upravit dle potřeby */
}

.submit-btn {
    background-color: var(--buttonColor);
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

.submit-btn:hover {
    background-color: var(--buttonHoverColor);
}

/* ------------------------------- RESPONSIBILITY ------------------------------- */
@media (max-width: 700px) {
    #mainRight-offer {
        width: 95%;
    }

    .form-container {
        width: 80%;
        padding: 15px;
    }

    .submit-btn {
        width: 100%;
    }

    /* Zmenšení fontu pro mobilní zařízení */
    .insi-div-con {
        font-size: 16px;
    }

    #infoDiv {
        display: block;
        margin-top: 20px;
    }

    iframe {
        margin-bottom: 20px;
        aspect-ratio: 2/1;
        width: 100%;
    }

    #build {
        width: 100%;
        height: 100%;
        margin-top: 20px;
    }
}

/* -------------------- >1921px -------------------- */
@media (min-width: 1921px) {
    #mainRight-offer {
        width: 1728px;
    }
}