main {
    display: block;
}

#loginForm {
    width: fit-content;
    background-color: rgb(226, 226, 226);
    border-radius: 20px;
    height: fit-content;
    position: relative;
    padding: 10px;
    margin-bottom: 5px;
}

.signInBtn {
    display: block;
    margin: auto;
}

#logo {
    margin: 0 auto;
    display: block;
    max-width: 170px;
}

label {
    position: absolute;
    /*left: 48px;*/
    user-select: none;
    left: 55px;
}

#email,
#password {
    display: block;
    margin: 20px auto;
}

.forgottenPassw {
    color: black;
    font-size: 13px;
    display: block;
    width: fit-content;
    margin: auto;
    margin-right: 0;
}

.signInBtn {
    padding: 7px 10px;
    border-radius: 13px;
    border: 1px solid blue;
}

.signInBtn:hover {
    background-color: rgb(223, 223, 223);
}