main {
    display: block;
}

#resetpasswForm {
    width: fit-content;
    background-color: rgb(226, 226, 226);
    border-radius: 20px;
    height: fit-content;
    position: relative;
    padding: 10px;
    margin-bottom: 5px;
}

#logo {
    margin: 0 auto;
    display: block;
    max-width: 170px;
}

.emailDiv {
    position: relative;
}

/* Email label */
.required {
    position: absolute;
    left: 5px;
    user-select: none;
}

/* Email input */
.emailInput {

}

h1, small {
    text-align: center;
    display: block;
}

small {
    margin-top: 5px;
}

.sendBtn {
    padding: 7px 10px;
    border-radius: 13px;
    border: 1px solid blue;
    margin: 0 auto;
    display: block;
}

.sendBtn:hover {
    background-color: rgb(223, 223, 223);
}

.emailDiv {
    width: fit-content;
    margin: 20px auto;
}