main {
    display: block;
}

.wholeProduct {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    background-color: #D9D9D9;
    border-radius: 17px;
    padding: 7px 15px;
    width: 500px;
    /* Maximální šířka */
}


.wholeProduct p {
    max-width: 200px;
}

.productInformation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.numberDiv {
    display: flex;
    border-bottom: 1px solid grey;
    width: 100%;
    margin-bottom: 2px;
    justify-content: space-between;
}

.numberDiv a {
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.numberDiv a:not(:last-child) {
    position: relative;
    top: 4px;
}

.continueBTN {
    color: black;
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 13px;
    border: 1px solid blue;
    width: fit-content;
    margin: 0 auto;
}

.continueBTN:hover {
    background-color: rgb(223, 223, 223);
}