:root {
    --pictureShadowNotActive: #3b3b3b;
    --pictureShadowActive: #000;
    --notActivebuttonColor: RGB(60, 61, 64);
    --ActivebuttonColor: RGB(0, 0, 0);
    --imageRadius: 10px;
}

/* right */
#right-offer {
    text-align: center;
}

#mainRight-offer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;
    align-items: stretch;
}

#mainRight-offer>a,
.product {
    min-height: 340px;
    position: relative;
    box-shadow: 10px 10px 17px #e6e6e6, 10px 10px 17px #e6e6e6 inset;
    text-decoration: none;
    color: black;
    padding: 7px 5px;
    border-radius: 20px;
}

#mainRight-offer>a {
    background-color: #dadada;
}

#mainRight-offer>a img,
.product img {
    border-radius: var(--imageRadius);
    transform: scale(.83);
    height: 250px;
    width: 250px;
    object-fit: cover;
    overflow: hidden;
    object-position: center;
    filter: drop-shadow(5px 5px 10px var(--pictureShadowNotActive));
    transition: all .2s ease-in-out;
}

.tagDescription {
    max-width: 250px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: center;
    margin: 10px auto;
}

.productName, .tagName {
    display: block;
    max-width: 250px;
    padding: 0 10px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

#mainRight-offer>a img:hover,
.product img:hover {
    filter: drop-shadow(5px 5px 12px var(--pictureShadowActive));
}

#mainRight-offer>a h2,
.product h2 {
    font-size: 20px;
    margin: 0;
}

.lastH {
    margin-bottom: 45px;
}

#mainRight-offer>a p,
.product>a:last-child, .product>p:last-child {
    font-size: 20px;
    background-color: var(--notActivebuttonColor);
    width: fit-content;
    color: RGB(245, 244, 244);
    margin: 0 auto;
    padding: 5px 15px;
    border-radius: 30px;
    transition: .2s all ease-in-out;
    text-decoration: none;
}

.lastButton {
    position: absolute;
    left: 0; 
    right: 0; 
    margin-inline: auto; 
    width: fit-content;
    bottom: 10px;
    z-index: 1000;
}

.product .isAvailable {
    background-color: rgb(0, 163, 0) !important;
}

.product .isNotAvailable {
    background-color: rgb(92, 92, 92) !important;
    cursor: not-allowed;
}

#mainRight-offer>a p:hover,
.product>a:last-child:hover {
    background-color: var(--ActivebuttonColor);
}

.product .isAvailable:hover {
    background-color: rgb(0, 114, 0) !important;
}

.editDelete {
    position: absolute;
}

.editDelete a {
    text-decoration: none;
}

.editDelete a:hover {
    text-decoration: underline;
}

#editObject {
    top: 10px;
    left: 15px;
}

#editObject a {
    color: green;
}

#deleteObject {
    top: 10px;
    right: 15px;
}

#deleteObject a {
    color: red;
}

/* ------------------------------- RESPONSIBILITY ------------------------------- */
/* -------------------- <1600px --------------------*/
@media (max-width: 1600px) {
    #mainRight-offer {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* -------------------- <1230px --------------------*/
@media (max-width: 1230px) {
    #mainRight-offer {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* -------------------- <900px --------------------*/
@media (max-width: 900px) {
    main {
        width: 100%;
    }
}

/* -------------------- <620px --------------------*/
@media (max-width: 620px) {
    #mainRight-offer {
        grid-template-columns: 1fr;
    }
}