{% extends "/base.html.twig" %}

{% block leftBody %}{% endblock %}

{% block body %}
	{{ form_start(form) }}
	{{ form_widget(form) }}

	<button type="submit">Uložit</button>
	{{ form_end(form) }}
{% endblock %}
