{% extends "base.html.twig" %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/menu.css') }}">
{% endblock %}

{% block body %}
	<div id="right-offer">
		<div id="mainRight-offer">
			{% for tag in tags %}
				<a href="{{ path('tag', {'id': tag.id}) }}">{{ tag.name }}</a>
			{% endfor %}
		</div>
	{% endblock %}
