{% extends "base.html.twig" %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/menu.css') }}">
{% endblock %}

{% block body %}
		<div id="right-offer">
			<div id="mainRight-offer">
				<a href="diaTech.php" id="dia">
					<img src="../img/offer/dia.png" alt="">
					<h1>{{category.name}}</h1>
					<p>Otevřít</p>
				</a>
		</div>
{% endblock %}
