{% extends "base.html.twig" %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/menu.css') }}">
{% endblock %}

{% block body %}
		<div id="right-offer">
			<div id="mainRight-offer">
				<a href="diaTech.php" id="dia">
					<img src="../img/offer/dia.png" alt="">
					<h2>Diamantová technika</h2>
					<p>Otevřít</p>
				</a>

				<a href="brusKartace.php" id="brusne">
					<img src="../img/offer/brusne.png" alt="">
					<h2>Brusné kotouče</h2>
					<p>Otevřít</p>
				</a>

				<a href="../pdf/katalog/Katalog výrobů - MONAK.pdf" id="katalog">
					<img src="../img/offer/katalog.png" alt="">
					<h2>Katalog výrobků</h2>
					<p>Otevřít</p>
				</a>
				<a href="../pdf/bavaria/BAVARIA katalog - MONAK.pdf" id="bavaria">
					<img src="../img/offer/bavaria.png" alt="">
					<h2>Nářadí BAVARIA</h2>
					<p>Otevřít</p>
				</a>

				<a href="gravirace.php" id="gravirace">
					<img src="../img/offer/gravirace.png" alt="">
					<h2>Plastiky a gravírace</h2>
					<p>Otevřít</p>
				</a>

				<a href="../pdf/zulove/Katalog žulové rotační výrobky - MONAK.pdf" id="zulove">
					<img src="../img/offer/zulove.png" alt="">
					<h2>Žulové rotační výrobky</h2>
					<p>Otevřít</p>
				</a>

				<a href="zlato.php" id="zlato">
					<img src="../img/offer/zlato.png" alt="">
					<h2>Zlato</h2>
					<p>Otevřít</p>
				</a>

				<a href="prisavky.php" id="prisavky">
					<img src="../img/offer/prisavky.png" alt="">
					<h2>Přísavky na kámen</h2>
					<p>Otevřít</p>
				</a>

				<a href="chemie.php" id="chemie">
					<img src="../img/offer/chemie.png" alt="">
					<h2>Chemie na kámen</h2>
					<p>Otevřít</p>
				</a>
			</div>
		</div>
{% endblock %}
