{% extends "base.html.twig" %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/menu.css') }}">
{% endblock %}

{% block body %}
	<div id="right-offer">
		<div id="mainRight-offer">
			{# {% for categories in category %}
				<a href="{{ path('show_category', {'id': categories.id}) }}">
					<img src="{{ asset('img/products/' ~ categories.id ~ '.png') }}" alt="">
					<h2>{{ categories.name }}</h2>
				<p>Otevřít</p>
			</a>
				{% endfor %}#}

		</div>
	{% endblock %}
