{% extends "base.html.twig" %}

{% block leftBody %}
{% endblock %}

{% block body %}

<p>Váš email:&nbsp;</p>
<p>{{app.user.email}}</p>
<p>Vaše jméno:</p>
<p>{{app.user.firstName}} {{app.user.lastName}}</p>

{% endblock %}